.blog_relative
    .blog__triangle-left
        svg(
            viewbox="0 0 1000 100" 
            preserveAspectRatio ="none"
            class="triangle triangle_fill_abosulutely-white")
            polygon(points="0,0 1000,200 0,1000")
    .blog__triangle-right
        svg(
              viewbox="0 0 1000 100" 
              preserveAspectRatio ="none"
              class="triangle triangle_fill_abosulutely-white")
              polygon(points="0,200 1000,300 1000,0") 
section.blog#scroll
    ul.nav
        a(href="#")
            li.nav__item.nav__item-active Самое важное в SASS
        a(href="#")
            li.nav__item Приёмы в вёрстке, без которых  не обходится ни один сайт
        a(href="#")
            li.nav__item Самый необходимый набор Gulp плагинов
        a(href="#")            
            li.nav__item Почему я выбрал Jade
    .blog_column
        .blog__title
            | Самое важное в SASS
        .blog__data
            | 22 ноября 2016
        .blog__text
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
        .blog__swipe_overflow-hidden
            .blog__swipe
        .blog__text
            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        .blog__code
            img(src="./img/blog_code.jpg").blog__code-img
        .blog__title
            | Приёмы в вёрстке, без которых  не обходится ни один сайт
        .blog__data
            | 13 ноября 2016
        .blog__text
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
