footer#footer
	div.footer_top_left
	div.footer_top_right
		include icons.pug
	div.footer_bottom_left
		p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
	div.footer_bottom_right
		p © Владимир Астахов | создано с любовью в LoftSchool | 2016
