footer#footer
	div.footer_top_left
		ul li a Мои работы
		ul li a Обо мне
		ul li a Блог
		ul li a Авторизация
	div.footer_top_right
		+icons;
	div.footer_bottom_left
		p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
	div.footer_bottom_right
		p © Владимир Астахов | создано с любовью в LoftSchool | 2016
