footer.footer#footer
    div.footer-top
        div.footer-top-left
            ul.link__list
                li.link__item.link__item_color-white
                    a(href="works.html") Мои работы
                li.link__item.link__item_color-white
                    a(href="about.html") Обо мне
                li.link__item.link__item_color-white
                    a(href="blog.html") Блог
                li.link__item.link__item_color-white
                    a(href="index.html") Авторизация
        div.footer-top-right
            ul.icons.icons-footer
                li.icons__item-footer
                    a(href="https://vk.com").icons__item-circle.icons__item-vk
                        i.fa.fa-vk(aria-hidden="true")
                li.icons__item-footer
                    a(href="https://github.com").icons__item-circle.icons__item-github
                        i.fa.fa-github-alt(aria-hidden="true")
                li.icons__item-footer
                    a(href="https://linkedin.com").icons__item-circle.icons__item-linkedin
                        i.fa.fa-linkedin(aria-hidden="true")
    div.footer-bottom        
        div.footer-bottom-left
            p.footer-bottom-left__text Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
        div.footer-bottom-right
            p © Владимир Астахов | создано с любовью в LoftSchool | 2016
