nav.header-nav
    ul.header-nav__list
        li.header-nav__item
            a(href="works.html") 
                +heading("h1","header-nav__title") Мои работы
        li.header-nav__item
            a(href="blog.html") 
                +heading("h1","header-nav__title") Блог
        li.header-nav__item
            a(href="about.html") 
                +heading("h1","header-nav__title") Обо мне
        li.header-nav__item
            a(href="index.html") 
                +heading("h1","header-nav__title") Авторизация
header.header-blog#header
    div.header-left
        include icons.pug
    div.header-center.blog__header-center    
        div.header-center__circle
            img(src='./img/avatar.jpg').header-center__circle_img
        +heading("h1","blog-header__title") Блог
        div.blog-header__subtitle Статьи, которые я написал
        div.header-center__arrow-down.blog-header-center__arrow-down 
            a(href="#scroll")
                i.fa.fa-chevron-down(aria-hidden="true")
    div.header-right
        a(href="#").header__menu-burger
            div.header-right__burger
            div.header-right__burger
            div.header-right__burger
include triangles.pug
