header.header#header
    div.header-left
        include icons.pug
    div.header-center    
        div.header-center__circle
            img(src='./img/avatar.jpg').header-center__circle_img
        h1.header-center__title Владимир Астахов
        div.header-center__subtitle Личний сайт веб разработчика
        div.header-center__arrow-down 
            a(href="#scroll")
                i.fa.fa-chevron-down(aria-hidden="true")
    div.header-right
        a(href="#")
            div.header-right__hamburger
            div.header-right__hamburger
            div.header-right__hamburger
