header#header
    div.top_header
        div.top_left_header
            include icons.pug
        div.top_right_header
    div.center_header
        img(src='./img/avatar.jpg')
        h1 Владимир Астахов
        div.center_header__subtitle Личний сайт веб разработчика
        div.center_header__arrow-down

