header#header
    div.top_header
        div.top_left_header
            <i class="fa fa-vk" aria-hidden="true"></i>
            <i class="fa fa-github-alt" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        div.top_right_header
    div.center_header
        img(src='155312_600.jpg')
            h1 Владимир Астахов
            div.center_header__subtitle Личний сайт веб разработчика
            div.center_header__arrow-down