ul.icons.icons_header-left_size
	li.icons__item.icons__item-vk
		a(href="#")
			i.fa.fa-vk(aria-hidden="true")
	li.icons__item.icons__item-github
		a(href="#")
			i.fa.fa-github-alt(aria-hidden="true")
	li.icons__item.icons__item-linkedin
		a(href="#")
			i.fa.fa-linkedin(aria-hidden="true")