.header-triangle_relative
    .header__triangle-left
        svg(
            viewbox="0 0 1000 100" 
            preserveAspectRatio ="none"
            class="triangle " + bg_triangle1)
            polygon(points="0,0 1000,200 0,1000")
    .header__triangle-right
        svg(
              viewbox="0 0 1000 100" 
              preserveAspectRatio ="none"
              class="triangle " + bg_triangle2)
              polygon(points="0,200 1000,300 1000,0") 