.map_relative
    #map
        .contacts
            +heading('h1', 'contacts__title', 'title', 'before-after-line')
                | Контакты
            ul.contacts__list
                li.contacts__item
                    a(href="https://skype.com")
                        i.contacts__item-icons.fa.fa-skype(aria-hidden="true")
                    span skype_kdn
                li.contacts__item
                    a(href="https://gmail.com")
                        i.contacts__item-icons.fa.fa-envelope(aria-hidden="true")
                    span astahov@gmail.com
                li.contacts__item
                    a(href="#")
                        i.contacts__item-icons.fa.fa-phone(aria-hidden="true")
                    span +7 931 200 93 24
                li.contacts__item
                    a(href="https://www.google.com/maps/@48.6955857,26.5626782,15z")
                        i.contacts__item-icons.fa.fa-map-marker(aria-hidden="true")
                    span  г.Новосибирск,ул. Инская, д. 5




script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBejaVDaYDTmIEkdYHWQfnd0cexSWu432A&callback=initMap" async defer)