%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%before_after_line {
    content: "";
    position: absolute;
    width: 22px;
    height: 5px;
    background-color: rgba(55, 62, 66, 0.2);
    top: 50%;
}

%before_after_line_nav {
    content: "";
    position: absolute;
    width: 22px;
    height: 5px;
    background-color: rgba(255, 255, 255, 1);
    top: 50%;
}

%title {
    font-family: 'Bernier';
    font-size: 35px;
    color: #455a64
}

%title_center {
    @extend %title;
    text-align: center;
}

%big_title {
    @extend %title;
    font-size: 63px;
    color: #373e42;
}

%medium_green {
    font-weight: 500;
    color: #20b5a1;
}

@function rem($px) {
    @return $px / $font-size+0rem;
}

@mixin laptops() {
    @media screen and (max-width: 1352px) {
        @content;
    }
}

@mixin tablets() {
    @media screen and (max-width: 960px) {
        @content;
    }
}

@mixin phones() {
    @media screen and (max-width: 527px) {
        @content;
    }
}