html {
    font-size: 16px;

    @include laptops {
        font-size: 15px;
    }

    @include tablets {
        font-size: 14px;
    }

    @include phones {
        font-size: 13px;
    }
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.page-content {
    flex: 1;
}

.title {
    font-family: 'Bernier';
    font-size: 35px;
    color: #373e42;
}

.title_big {
    @extend %big_title;
}

.item__navigation_block {
    display: block;
}

.error {
    outline: 1px solid red;
}

.before-after-line {
    & span:after,
    & span:before { 
        content: "";
        position: absolute;
        width: 22px;
        height: 5px;
        background-color: rgba(55, 62, 66, 0.2);
        top: 50%;
    }
}

body {
    font-family: "Roboto";
    font-size: 16px;
    color: #fff
}

h1 {
    font-size: 35px;
    color: #fff;
    font-weight: 500;
}