include ../mixins/mixins.pug

block variables
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title}
        link(rel='stylesheet' href='libs.min.css')
        link(rel='stylesheet' href='main.css')
    body
        .preloader
            .preloader__spinner
                .preloader__animation
                .preloader__percents 
                    | 0%
        block content
        script(src='libs.min.js')
        script(src='main.js')
        