.skills {
	@include tablets{
		text-align: center;
	}
}

.skill-section__title h2 {
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 10px;

	@include phones {
		margin-bottom: 20px;
	}
}

.skill {
    bottom: 50px;
    color: #00bfa5;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
}

.skill__HTML {
	left: 39px;
}

.skill__CSS {
	left: 42px;
}

.skill__JavaScript  {
	top: 35%;
    left: 0px;
    text-align: center;
}

.skill__PHP  {
	left: 45px;
}

.skill__mySQl  {
	left: 40px;
}

.skill__Node  {
	left: 25px;
	top: 35%;
	width: 70px;
	text-align: center;
}

.skill__Mongo {
	left: 30px;
}

.skill__Git {
	left: 50px;
}

.skill__Gulp {
	left: 45px;
}

.skill__Bower {
	left: 40px;
}

.skill__circles {
	fill: none;
	stroke-width: 15;
}

.circle__first {
	stroke: #dfdcd5;
}

.circle__second {
	stroke: #00bfa5;
	stroke-dasharray: .0010 329.8575;
	transition: all 1s;
}

.circle-15 {
	stroke-dasharray: 42.39 329.8575;
}

.circle-35 {
	stroke-dasharray: 115 329.8575;
}

.circle-40 {
	stroke-dasharray: 131 329.8575;
}

.circle-45 {
	stroke-dasharray: 148 329.8575;
}

.circle-55 {
	stroke-dasharray: 181 329.8575;
}

.circle-60 {
	stroke-dasharray: 197 329.8575;
}

.circle-70 {
	stroke-dasharray: 230 329.8575;
}

.circle-80 {
	stroke-dasharray: 263 329.8575;
}

.circle-85 {
	stroke-dasharray: 280 329.8575;
}

.circle-90 {
	stroke-dasharray: 296 329.8575;
}

.skills-section__item {
	margin-right: 36px;
	position: relative;
	display: inline-block;
	width: 120px;
	height: 120px;

	@include phones {
		margin-right: 11.7px;
		margin-left: 30.15px;
		margin-bottom: 35px;
	}
}

.skills-section__item-wrapper {
	@include phones {
		margin-left: -24.15px;
		margin-right: 0px;
	}
}

.skills-section__item_margin-right-0 {
	@include laptops {
		margin-right: 0px;
	}
	@include tablets {
		margin-right: 0px;
	}

	@include phones {
		margin-right: 22.15px;
	}
}

.skills__item {
	margin-bottom: 24px;
}