.map_relative {
    position: relative;
    height: 100vh;

    #map {
        height: 100vh;
    }
}

.contacts {
    width: 380px;
    border-radius: 5px;
    background-color: #e5f7f4;
    padding: 25px 40px 35px;
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);

    @include phones {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 393.856px;
        border-radius: 0px;
        background-color: #fff;
    }
    &__title {
        text-align: center;
        padding-bottom: 26px;

        @include phones {
            padding-bottom: 15px;
        }

        & span {
            position: relative;
        }

        & span:after,
        & span:before {
            top: 50%;
        }

        & span:after {
            left: -40px;
        }

        & span:before {
            right: -40px;
        }
    }
    &__item {
        font-weight: 500;
        color: #455a64;
        padding-bottom: 15px;
        opacity: 0.8;

        & span {
            display: inline-block;
            vertical-align: text-bottom;
        }

        &:last-child {
            padding-bottom: 0px;
        }
        &-icons {
            color: #00bea4;
            margin-right: 10px;
            font-size: 27px;
        }
    }
}