extends ../templates/common.pug
block variables
    - var title = "About";
    - var bg_triangle1 = "triangle_fill_white";
    - var bg_triangle2 = "triangle_fill_beige";
block inner
    include ../blocks/about.pug
    include ../blocks/map.pug