extends ../templates/common_blog.pug
block variables
    - var title = "blog";
    - var bg_triangle1 = "triangle_fill_absulutely-white";
    - var bg_triangle2 = "triangle_fill_absulutely-white";
block inner
    section.blog#scroll
        aside.aside-nav
            ul.nav
                li.nav__item.nav__item1
                    a(href="#blog__text1").item__navigation_block Самое важное в SASS
                li.nav__item.nav__item2
                    a(href="#blog__text2").item__navigation_block Приёмы в вёрстке, без которых  не обходится ни один сайт
                li.nav__item.nav__item3
                    a(href="#blog__text3").item__navigation_block Самый необходимый набор Gulp плагинов
                li.nav__item.nav__item4
                    a(href="#blog__text4").item__navigation_block Почему я выбрал Jade
        main.blog-column
            .blog-column__swipe-wrapper
                ul.blog-column__nav
                    li.blog-column__nav-item
                        a(href="#blog__text1").item__navigation_block Самое важное в SASS
                    li.blog-column__nav-item
                        a(href="#blog__text2").item__navigation_block Приёмы в вёрстке, без которых  не обходится ни один сайт
                    li.blog-column__nav-item
                        a(href="#blog__text3").item__navigation_block Самый необходимый набор Gulp плагинов
                    li.blog-column__nav-item
                        a(href="#blog__text4").item__navigation_block Почему я выбрал Jade
                .blog-column__swipe
            ul.blog-column__list
                li.blog-column__item
                    .blog-column__title.title#blog__text1
                        | Самое важное в SASS
                    .blog-column__data
                        | 22 ноября 2016
                    .blog-column__text
                        p.blog-column__text_margin-bottom Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                    .blog-column-column__text
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                    .blog-column__code
                        img(src="./img/blog_code.jpg").blog-column__code-img
                li.blog-column__item
                    .blog-column__title.title#blog__text2
                        | Приёмы в вёрстке, без которых  не обходится ни один сайт
                    .blog-column__data
                        | 13 ноября 2016
                    .blog-column__text
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.    
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                li.blog-column__item
                    .blog-column__title.title#blog__text3
                        | Самый необходимый набор Gulp плагинов
                    .blog-column__data
                        | 29 ноября 2016
                    .blog-column__text
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                li.blog-column__item
                    .blog-column__title.title#blog__text4
                        | Почему я выбрал Jade
                    .blog-column__data
                        | 28 ноября 2016
                    .blog-column__text
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений.