extends ../templates/common_blog.pug
block variables
    - var title = "blog";
    - var bg_triangle1 = "triangle_fill_absulutely-white";
    - var bg_triangle2 = "triangle_fill_absulutely-white";
block inner
    include ../blocks/blog.pug