extend ../templates/common.pug
block variables
    - var title = "Works";
    - var bg_triangle1 = "triangle_fill_grey";
    - var bg_triangle2 = "triangle_fill_grey";
block inner
    include ../blocks/portfolio.pug
    include ../blocks/what_people_say.pug