.about {
    display: flex;
    @extend %clearfix;

    @include tablets {
        display: block;
    }
    &-left {
        width: 50%;
        background-color: #efeee9;
        padding-bottom: 145px;
        padding-right: 10px;

        @include laptops {
            padding-bottom: 40px;
        }

        @include tablets {
            width: 100%;
            padding-right: 0px;
        }
        &__title {
            background: url(./img/about_header.png) center center / cover no-repeat;
            float: left;
            padding: 45px 130px 20px 120px;
            margin-left: 34px;
            margin-top: -50px;
            position: relative;

            & span {
                position: relative;
            }

            & span:after {
                left: -40px;
            }

            & span:before {
                right: -40px;
            }

            @include laptops {
                text-align: center;
                background-size: 90%;
                float: none;
            }

            @include tablets {
                background-size: 40%;
                margin-left: 0;
                margin-top: 0px;
                padding-left: 130px;
            }

            @include phones {
                padding: 30px 40px;
                background-size: 70%;
                font-size: 43px;
                margin-top: 0px;
            }
        }
        .user {
            float: right;
            margin-top: 20px;

            &,
            & h1 h2 {
                color: #455a64;
            }

            @include laptops {
                float: none;
                max-width: 470px;
                width: 100%;
                margin: 0 auto;
                margin-top: 20px;
            }

            @include tablets {
                max-width: 500px;
                margin: 0 auto;
                width: 100%;
            }

            @include phones {
                width: 100%;
                max-width: 402px;
                margin: 0 auto;
            }
            &__avatar {
                @include laptops {
                    display: block;
                    margin: 0 auto;
                }

                @include phones {
                    width: 393.84px;
                    margin: 0 auto;
                }
            }
            &__title {
                text-align: center;
                margin-top: 21px;
                color: #455a64;
                font-weight: 500;

                & span {
                    position: relative;
                }

                & span:after {
                    left: -55px;

                    @include phones {
                        left: -40px;
                    }
                }

                & span:before {
                    right: -55px;

                    @include phones {
                        right: -40px;
                    }
                }

                @include phones {
                    font-size: 29px;
                }

                @include tablets {
                    margin-top: 40px;
                }
            }
            &__text {
                width: 382px;
                line-height: 1.55;
                margin-top: 18.5px;
                margin-bottom: 0px;

                @include laptops {
                    margin-left: 0px;
                    width: 100%;
                }

                @include tablets {
                    margin: 0 auto;
                    margin-left: 0px;
                    margin-right: 0px;
                    margin-top: 18px;
                }

                @include phones {
                    margin-top: 18px;
                    max-width: 409px;
                    width: 100%;
                    margin-right: 0px;
                }
                &-wrapper {
                    padding: 0;
                }
            }
        }
    }
    &-right {
        width: 50%;
        background-color: #eeebdf;
        color: #455a64;
        padding-left: 40px;

        @include laptops {
            padding-left: 32px;
        }

        @include tablets {
            width: 100%;
            padding: 40px 0px 40px 0px;
        }
        &__text {
            margin-right: 55px;
            line-height: 1.4;
            margin-top: 29px;
            margin-bottom: 46px;

            @include tablets {
                margin: 29px auto 49px auto;
                width: 534px;
            }

            @include phones {
                width: 342px;
            }
        }
        &__title {
            margin-top: 10px;
            line-height: 1.2;

            @include phones {
                font-size: 25.8px;
            }

            & span {
                display: block;
                color: #455a64;
                width: 220px;
                margin: 0 auto;
                font-weight: 400;
                @extend %title_center;
            }

            & span {
                position: relative;
            }

            & span:after,
            & span:before {
                top: 20px;

                @include tablets {
                    top: 32px;
                }

                @include phones {
                    top: 50%;
                }
            }

            & span:after {
                left: -40px;
            }

            & span:before {
                right: -40px;
            }
        }
    }
}