.skills {
	@include tablets{
		text-align: center;
	}
	&__item {
		margin-bottom: 24px;
	}
	&-section__item {
		margin-right: 36px;
		position: relative;
		display: inline-block;
		width: 120px;
		height: 120px;

		@include phones {
			margin-right: 30px;
			margin-left: 30px;
			margin-bottom: 80px;
		}

		&:last-child {
			@include phones {
				margin-bottom: 10px;
			}
		}
		&-wrapper {
			@include phones {
				margin-left: -24.15px;
				margin-right: 0px;
			}
		}
	}
}

.skill {
    color: #00bfa5;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;

    @include phones {
        left: 63%;
    	top: 63%;
    }
	&-section__title h2 {
		font-size: 28px;
		font-weight: 500;
		margin-bottom: 10px;

		@include phones {
			margin-bottom: 20px;
		}
	}
}

.circle { 
	&__first {
		stroke: #dfdcd5;
		fill: none;
	}
	&__second {
		stroke: #00bfa5;
		stroke-dasharray: .0010 329.8575;
		transition: all 1s;
		fill: transparent;
	}
}

