ul.icons.header-top-left__icons_size
	li.icons__item.icons__item-vk
		a(href="https://vk.com")
			i.fa.fa-vk(aria-hidden="true")
	li.icons__item.icons__item-github
		a(href="https://github.com")
			i.fa.fa-github-alt(aria-hidden="true")
	li.icons__item.icons__item-linkedin
		a(href="https://linkedin.com")
			i.fa.fa-linkedin(aria-hidden="true")